@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
header{
    background-color: #B8E8FC;
}
#titulo{
    text-align: center;
    font-family: 'Pacifico', cursive;
}  
main{
    margin-left: 15%;
    margin-right: 15%;
    padding-bottom: 40%;
    background-color: #efaeff;
}
body{
    background-image: url(/assets/imagenes/Fondo-3.webp);
    background-repeat: no-repeat;
    background-size: cover;
}
#container-1{
    margin-bottom: 40px;
    display: flex ;
    justify-content: center;
}
#container-2{
    display: flex ;
   justify-content: center;
}
#buttom{
    background-color: beige;
    font-family: 'Caveat', cursive;
}
.bg-ir{
    background-image: url(/assets/imagenes/nube.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
    width: 100%;
    
}
#m4{
    background-color: #CFF5E7;
}
.bg-volver {
    background-image: url(/assets/imagenes/BOTON\ VIOLETA.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 210px;
    width: 100%;
 }
    
.enlace-relativo {
    top: 90px;
    position: relative;
    font-size: 2em;
    font-weight: 800;
    text-align: center;
}
.enlace-relativo a {
    color:#cdb9e6;
    text-shadow: 1px 1px 2px pink;
}
#volver{
    font-family: 'Dancing Script', cursive;
}
#ir{
    font-family: 'Dancing Script', cursive;
}
#card-title{
    font-family: 'Caveat', cursive;
}